.spinner {
    height: 50px;
    width: 50px;
    display: block;
    align-self: center;
    margin: auto;
    position:relative
    /* margin-bottom: 100px; */
  }

.center {
  display: block;
  align-self: center;
  margin: auto;
  position:relative
}

.rowCenter {
  display: flex;
  align-items: center;    
}